<main>
  <section id="grupo-renault " class="d-flex align-items-center  h-25 grupo ">
    <div class="container">
      <div class="row   text-center">
        <div class="col">
          <h3 class="text-white text-uppercase mt-1">
            FÁBRICA SANTA ISABEL
          </h3>
          <p class="text-white mt-4 fs-4">fabricamos autos, construimos historia</p>
        </div>
      </div>
    </div>
  </section>
  <section class="historia">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
          <article class="texto-historia text-center my-4">
            <h3 class="bold text-uppercase">la historia</h3>
            <p>Renault está presente en Argentina desde 1959 cuando se asoció
              con IKA (Industrias Kaiser Argentina) que había construido, 4 años
              antes, su fábrica de automotores en Córdoba. Desde ese momento a
              la actualidad, Fábrica Santa Isabel lleva fabricados más de
              3.200.000 vehículos de 34 modelos diferentes, muchos de los cuales
              pasaron a ser verdaderos íconos de la industria automotriz.
            </p>
          </article>
          <article class="mt-3">
            <ul>
              <li>Ubicada a 10km del centro de la Ciudad de Córdoba</li>
              <li>El predio tiene una superficie total de 195.1 hectáreas</li>
              <li>40 hectáreas cubiertas</li>
              <li>4 procesos fundamentales de fabricación: Embutición,
                Soldadura, Pintura y Montaje</li>
            </ul>
          </article>
        </div>
      </div>
    </div>
    <div class="container my-5">
      <div class="row">
        <div class="col">
          <figure>
            <img class="img-fluid" src="../img/la-historia.webp" alt="la-historia" />
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="tecnologia">
    <div class="container">
      <div class="row ">
        <div class="col-xxl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="card border-0">
            <img
              src="../img/1950-inicios.webp"
              class="img-fluid"
              alt="inicios"
            />
            <div class="card-body">
              <p
                class="card-title Component5v0__title text-uppercase bold"
              >1950. Los inicios</p>
              <p>
                Durante la década del 50, el industrial norteamericano Henry
                Kaiser (hijo), en búsqueda de nuevos horizontes, encuentra una
                Argentina favorecida por amplias políticas de inversiones. El 12
                de marzo de 1955, en los predios de Santa Isabel, se coloca la
                piedra fundamental, concretando el emplazamiento de Industrias
                Kaiser Argentina, en adelante conocida como IKA. El Dauphine y
                Gordini se lanzan en 1960.
              </p>
            </div>

          </div>
        </div>

        <div class="col-xxl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="card border-0">
            <img
              src="../img/1960-lanzamientos.webp"
              class="img-fluid"
              alt="lanzamientos"
            />
            <div class="card-body">
              <p
                class="card-title Component5v0__title text-uppercase bold"
              >1960. Lanzamientos</p>
              <p>
                Se construyen nuevos talleres y en 1966 se presenta un recordado
                producto íntegramente nacional: el Torino. A partir del año 1975
                se adopta la denominación de Renault Argentina S.A. El Renault
                4, el Renault 6 y el Renault 12 pasan por las línes de FSI
                durante esta década.
              </p>

            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="card border-0">
            <img
              src="../img/1980-historia.webp"
              class="img-fluid"
              alt="renault-2"
            />
            <div class="card-body">
              <p
                class="card-title Component5v0__title text-uppercase bold"
              >1980. La historia</p>
              <p>
                Durante la década del 80, la Fábrica Santa Isabel fue escenario
                de enormes hitos históricos: allí se fabricaron el Renault 18,
                la Renault Fuego, el Renault 11, el Renault 9 y la icónica
                Renault Trafic. Durante esos años se prepararon en Córdoba los
                gloriosos autos de competición que hicieron historia y el
                Papamóvil.
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section class="tecnologia my-4">
    <div class="container">
      <div class="row ">
        <div class="col-xxl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="card border-0">
            <img
              src="../img/1990-produccion.webp"
              class="img-fluid"
              alt="1990-produccion"
            />
            <div class="card-body">
              <p
                class="card-title Component5v0__title text-uppercase bold"
              >1990. La producción</p>
              <p>
                En 1992, Renault Argentina S.A. cambia su denominación por
                CIADEA S. A. (Compañía Interamericana de Automóviles). A partir
                de 1997 , Renault S.A. retoma el control de las operaciones en
                Argentina, recuperando su antigua denominación de Renault
                Argentina S.A. En Santa Isabel se fabricaron durante esta década
                verdaderos éxitos del mercado: Renault 19, Renault Clio y el
                icónico Renault Kangoo.
              </p>
            </div>

          </div>
        </div>

        <div class="col-xxl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="card border-0">
            <img
              src="../img/2000-alianza.webp"
              class="img-fluid"
              alt="2000-alianza"
            />
            <div class="card-body">
              <p
                class="card-title Component5v0__title text-uppercase bold"
              >2000. La Alianza</p>
              <p>
                En las puertas del nuevo siglo nace la Alianza automotriz
                fundada entre Renault Group y Nissan Corporation. En 2017,
                Mitsubishi se suma a la Alianza.
              </p>

            </div>
          </div>
        </div>
        <div class="col-xxl-4 col-lg-4 col-md-12 col-sm-12">
          <div class="card border-0">
            <img
              src="../img/2010-produccion.webp"
              class="img-fluid"
              alt="2010-produccion"
            />
            <div class="card-body">
              <p
                class="card-title Component5v0__title text-uppercase bold"
              >2010. Una producción ininterrumpida</p>
              <p>
                En marzo de 2010 se inauguró la moderna línea Montaje Monoflux,
                la cual permite fabricar diversos modelos sobre una misma
                superficie productiva. Esta tecnología posicionó a Fábrica Santa
                Isabel como una de las plantas más modernas del Grupo Renault.
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
  <section class="actualidad my-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
          <article class="texto-historia text-center my-4">
            <h3 class="bold text-uppercase">LA ACTUALIDAD</h3>
            <p>Fábrica Santa Isabel está incorporando las últimas tecnologías de
              la “industria 4.0” a su proceso productivo. Con más de 180 robots
              incorporados en los últimos años, carros guiados de manera
              automatizada, tablets en los puestos de trabajo de los operadores,
              formaciones con realidad virtual e impresoras 3D, la fábrica busca
              constantemente evolucionar y ubicarse a la vanguardia de la
              tecnología aplicada a la industria.
            </p>
          </article>
          <article class="mt-3 bold text-center fs-5">
            Satisfaciendo los más altos estándares de calidad y seguridad a
            nivel global, es la planta que fabrica la mayor diversidad de
            modelos de Argentina, con 7 modelos en su línea de producción:
            Renault Alaskan, Renault Kangoo Express, Renault Kangoo Stepway,
            Renault Stepway, Renault Sandero, Renault Logan y Nissan Frontier.
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="actualidad-imagen  mb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12">
          <figure class="  mt-5">
            <img
              class="img-fluid w-100 "
              src="../img/actualidad.webp"
              alt="actualidad"
            />
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="tecnologia mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card border-0">
            <img
             class="img-fluid"
              src="../img/vuelta-img.webp"
             
              alt="vuelta-img"
            />
            <div class="card-body text-center">
              <p class="my-4">
                Conocé cómo fabricamos y vendemos un Renault, de punta a punta.
              </p>
              <a
                href=""
                class="borde-color text-decoration-none text-dark bold"
              >ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="card border-0">
            <img
              src="../img/alaskan-img.webp"
              class="img-fluid"
              alt="alaskan-img"
            />
            <div class="card-body text-center">

              <p class="my-4">
                Mirá cómo hacemos nuestra pick up.
              </p>

              <a
                href=""
                class="borde-color text-decoration-none text-dark bold"
              >ver mas</a>

            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
</main>