<main class="marca-renault">
    <section id="grupo-renault " class="h-25 d-flex align-items-center grupo">
        <div class="container ">
          <div class="row text-center ">
            <div class="col">
            <h3 class="text-white text-uppercase">
             la marca renault
            </h3>
            <p class="text-white mt-4 fs-5">Nuestra pasión es lo que nos inspira y nos motiva cada día. Nuestro objetivo es ayudar a nuestros clientes a vivir su pasión a través de nuestros productos y servicios</p>
            </div>
          </div>
        </div>
      </section>
     <section class="titulo  my-5">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <article class="my-4">
                <p class="mb-0 text-uppercase fs-4">La vida con pasion</p>
                <h3 class="text-uppercase bold mt-1">¿porque marcamos la diferencia?</h3>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="autos ">
          <div class="container overflow-hidden ">
            <div class="row justify-content-center ">
              <div class="col-10">
                <div class="row flex-row-reverse ">
                  <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  ">
                  <article class="compania">
                    <h3 class="">French Design</h3>
                    <p class="mt-4">Un estilo sensual y acogedor, tanto en el interior como en el exterior...
                       así como conceptos innovadores
                       que modernizan los códigos del mercado automovilístico. Es lo que denominamos French Design.</p>
                    
                  </article>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  imagen-trezor">
                  <figure class=" h-100">
                    <img class="img-fluid" src="./img/renault-trezor-concept.webp" alt="trezor">
                  </figure>
                </div>
                </div>
                

              </div>
            </div>
          </div>
      </section>

      <section class="titulo my-5">
        <div class="container">
          <div class="row   text-center">
            <div class="col">
              <article class="my-4">
               
                <h3 class="text-uppercase bold mt-1">nuestra experiencia</h3>
              </article>
            </div>
          </div>
        </div>
      </section>

       <section class="autos ">
          <div class="container overflow-hidden ">
            <div class="row justify-content-center ">
              <div class="col-10">
                <div class="row flex-row-reverse ">
                  <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  ">
                  <article class="compania">
                    <h3 class="">R.S.</h3>
                    <p class="mt-4">El deporte automovilístico es el centro de nuestra historia desde la 
                      Formula One™ hasta las Renault Sport Series, la competición es nuestra pasión. </p>
                      <p class="mt-4">Nuestro palmarés único es el fruto de nuestra experiencia y 
                        nuestro saber hacer. Además de aportarte nuestra experiencia en los circuitos
                        de todo el mundo, nuestro objetivo es darte lo mejor de nuestras tecnologías R.S.
                         gracias a nuestra gama de vehículos deportivos. </p>
                         <div class=" justify-content-center d-flex">
                          <a href=""  class="bold text-decoration-none my-4 text-dark fs-5">La calidad Renault <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
                         </div>
                         
                    
                  </article>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  imagen-trezor">
                  <figure class=" h-100">
                    <img class="img-fluid" src="./img/renault-trezor-concept.webp" alt="trezor">
                  </figure>
                </div>
                </div>
                

              </div>
            </div>
          </div>

          <!--

      CONTAINER 2

          -->

          <div class="container my-5 overflow-hidden ">
            <div class="row justify-content-center ">
              <div class="col-10">
                <div class="row flex-row-reverse  ">
                  <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  ">
                  <article class="">
                    <h3 class="">Descubrí Kangoo Z.E.</h3>
                    <p class="mt-4">Somos pioneros y líderes de la movilidad eléctrica y queremos
                       que el uso diario de vehículos 100 % eléctricos sea una realidad,
                       gracias a nuestra gama de productos, nuestras soluciones y nuestros servicios específicos. </p>

                      <p class="mt-4">Cero estrés, cero emisiones, fácil de conducir y de recargar... 
                        nuestra gama de vehículos para particulares y profesionales se adapta a tus 
                        necesidades diarias y responde a los retos medioambientales de hoy y de mañana. </p>
                         <div class=" justify-content-center d-flex">
                          <a href=""  class="bold text-decoration-none my-4 text-dark fs-5">Descubre Kangoo Z.E <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
                         </div>
                         
                    
                  </article>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  imagen-trezor">
                  <figure class=" h-100">
                    <img class="img-fluid" src="./img/renault-trezor-concept.webp" alt="trezor">
                  </figure>
                </div>
                </div>
                

              </div>
            </div>
          </div>

          <!--
            CONTAINER 3
          -->

          <div class="container my-5 overflow-hidden ">
            <div class="row justify-content-center ">
              <div class="col-10">
                <div class="row flex-row-reverse ">
                  <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  ">
                  <article class="compania">
                    <h3 class="text-uppercase">initiale paris</h3>
                    <p class="mt-4">Regalate lo mejor del French Design con INITIALE PARIS. INITIALE PARIS, 
                      con un diseño exclusivo, materiales de gama alta, un sistema de audio de alta calidad y
                       la tecnología MULTI-SENSE según el modelo, combina lo mejor de nuestro saber hacer para despertar tus sentidos día a día.</p>
                        
                         
                    
                  </article>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  imagen-trezor">
                  <figure class=" h-100">
                    <img class="img-fluid" src="./img/renault-trezor-concept.webp" alt="trezor">
                  </figure>
                </div>
                </div>
                

              </div>
            </div>
          </div>

          <!--
            CONTAINER 4
          -->
          <div class="container my-5 overflow-hidden ">
            <div class="row justify-content-center ">
              <div class="col-10">
                <div class="row flex-row-reverse ">
                  <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  ">
                  <article class="compania">
                    <h3 class="">Renault Pro+</h3>
                    <p class="mt-4">Renault Pro+ es una gama de vehículos comerciales, servicios y una red dedicados a los profesionales.  </p>
                      <p class="mt-4">¿Nuestro deseo? Facilitarte la vida con soluciones adaptadas que respondan a las exigencias de tu
                         profesión y que mejoren la eficacia de tu actividad.  </p>
                         <div class=" justify-content-center d-flex">
                          <a href=""  class="bold text-decoration-none my-4 text-dark fs-5">Conoce mas sobre Renault Pro+ <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
                         </div>
                         
                    
                  </article>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  imagen-trezor">
                  <figure class=" h-100">
                    <img class="img-fluid" src="./img/renault-trezor-concept.webp" alt="trezor">
                  </figure>
                </div>
                </div>
                

              </div>
            </div>
          </div>
      </section>

       <section class="titulo  my-5">
        <div class="container">
          <div class="row  text-center">
            <div class="col">
              <article class="my-4">
                <h3 class="text-uppercase bold my-5">nuestras tecnologias</h3>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="tecnologia">
    <div class="container">
    <div class="row  ">
      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card border-0  ">
  <img src="../img/renault-1.webp" class="img-fluid" alt="renault-1">
  <div class="card-body">
    <p class="card-title Component5v0__title text-uppercase bold">R-Link 2</p>
  </div>
</div>
      </div>

      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card border-0">
  <img src="../img/renault-2.webp" class="img-fluid" alt="renault-2">
  <div class="card-body">
    <p class="card-title Component5v0__title text-uppercase bold">Media Evolution</p>
    
   
   
  </div>
</div>
      </div>
    </div>
        <div class="d-flex justify-content-center mt-5">
          <a href="" class="btn btn-dark py-3 px-5 hover border-0  ">Descubrí nuestra tecnología</a>
        </div>
 
  </div>

 
  </section>
  <section class="titulo my-5">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <article class="my-4">
               
                <h3 class="text-uppercase bold mt-1">LA CALIDAD, NUESTRO COMPROMISO DÍA A DÍA</h3>
              </article>
            </div>
          </div>
        </div>
      </section>

       <section class="autos ">
          <div class="container my-5 overflow-hidden ">
            <div class="row justify-content-between ">
              <div class="col-10">
                <div class="row flex-row-reverse ">
                  <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  ">
                  <article class="compania">
                    <p class="mt-4">Te acompañamos en tus desplazamientos desde hace más de 120 años. Tu confianza es fundamental para hacernos avanzar. </p>
                    <p class="mt-4">Por ello, nos comprometemos, en el diseño, en nuestros concesionarios y nuestros talleres, a que nuestros vehículos y 
                      servicios respondan a exigencias de calidad y durabilidad. Tu satisfacción es nuestra prioridad  </p>
                  </article>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  imagen-trezor">
                  <figure class=" h-100">
                    <img class="img-fluid" src="./img/renault-trezor-concept.webp" alt="trezor">
                  </figure>
                </div>
                </div>
                

              </div>
            </div>
          </div>
      </section>

      <section class="titulo my-5">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <article class="my-4">
               
                <h3 class="text-uppercase bold mt-1">¿QUIERES DESCUBRIR NUESTRA GAMA?</h3>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="publicidad mb-3">
        <div class="container">
    <div class="row ">
      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card border-0  ">
  <img src="../img/renault-1.webp" class="img-fluid" alt="renault-1">
  <div class="card-body">
    <p class="card-text">Descubrir</p>
    <p class="card-title bold fs-4">Nuestra Gama</p>
    <a href="" class="bold text-decoration-none text-dark">Nuestros Vehiculos Personales  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
   
  </div>
</div>
      </div>

      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card border-0">
  <img src="../img/renault-2.webp" class="img-fluid" alt="renault-2">
  <div class="card-body">
    <p class="card-text">Explorar</p>
    <p class="card-title fs-4  bold">Nuestra gama de Concepts Cars</p>
    <a href="" class="bold text-decoration-none fs-6 text-dark">Todos nuestros Concepts Cars  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
   
  </div>
</div>
      </div>
    </div>
  </div>
      </section>
</main>