<main>
    <section id="grupo-renault " class="h-25 d-flex align-items-center grupo">
        <div class="container ">
          <div class="row text-center ">
            <div class="col">
            <h3 class="text-white text-uppercase">
             marca renault en argentina
            </h3>
            <p class="text-white mt-4 fs-5">Los ejes estratégicos para un crecimiento sustentable</p>
            </div>
          </div>
        </div>
      </section>

      <section class="titulo  my-5">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col">
              <article class="my-4">
                <h3 class="text-uppercase bold mt-1 bold">EJES ESTRATÉGICOS</h3>
                <p class="mb-0  fs-4">Renault tiene una estrategia de crecimiento rentable en Europa y en el mundo.</p>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="autos ">
          <div class="container overflow-hidden my-5 ">
            <div class="row justify-content-center ">
              <div class="col-10">
                <div class="row flex-row-reverse ">
                  <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  ">
                  <article class="compania">
                    <h3 class="">Los 7 ejes</h3>
                    <p class="mt-4">1. Satisfacer plenamente a nuestros clientes a través de la calidad y la fiabilidad de nuestros productos y servicios. 
                        Los progresos de Renault en calidad son reconocidos. Sin embargo, la exigencia de los clientes aumenta. Desean un producto con una alta calidad, 
                        irreprochable en sus prestaciones y que los aíslen de toda preocupación. El objetivo prioritario debe ser ofrecerles una garantía de movilidad total.
                        <br>
                        2. Ser el constructor más competitivo de Europa. Renault apunta a convertirse en el constructor más competitivo de Europa en términos de calidad,
                         costos y plazos. Dicha competitividad es la condición del desarrollo de la empresa.
                            <br>
                            3. Ofrecer una gama joven, fuerte e innovadora. Renault ofrece una amplia gama de vehículos particulares, utilitarios e industriales, que se renueva a un ritmo sostenido.
                            <br>
                            4. Acelerar la internacionalización de Renault. La empresa confirma su voluntad de convertirse en el protagonista de la industria automotriz en el mundo. Renault confirma además, su ambición de acelerar su crecimiento para convertirse en la primera marca VP (vehículos particulares) + VU (vehículos utilitarios) en Europa y alcanzar la mitad de sus ventas fuera de Europa occidental hacia el 2010.
                                <br>
                            5. Desarrollar un grupo coherente y abierto. El métier de Renault es concebir, fabricar y comercializar vehículos particulares, utilitarios e industriales, y proveer los servicios financieros y otros asociados a sus productos                        
                            <br>
                            6. Trabajar mejor juntos. Significa movilizar la energía, la inteligencia, el espíritu de pertenencia, el sentido colectivo de todos para alcanzar el éxito juntos.
                            <br>
                            7. Alcanzar los beneficios que responden a las expectativas de los accionistas y al financiamiento del desarrollo de la empresa. Renault debe construir una relación durable con sus accionistas, basada en el compromiso de dividendos atractivos y, sobre una política abierta y constante de información y de comunicación financiera.
                        </p>
                        
                  </article>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  imagen-trezor">
                  <figure class=" h-100">
                    <img class="img-fluid" src="./img/renault-trezor-concept.webp" alt="trezor">
                  </figure>
                </div>
                </div>
                

              </div>
            </div>
          </div>

          <div class="container overflow-hidden my-5 ">
            <div class="row justify-content-center ">
              <div class="col-10">
                <div class="row  ">
                  <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  ">
                  <article class="compania">
                    <h3 class="fs-4 bold">Las tres ambiciones que resumen la Estrategia Renault</h3>
                    <p class="mt-4">1. SDesarrollar la identidad de marca basada sobre la innovación en los productos y servicios para la satisfacción total de nuestros clientes.
                        <br>
                        2. Ser el constructor más competitivo de nuestros mercados, en calidad, en costos y en tiempos de espera.
                            <br>
                            3. Internacionalizarse para convertirse en el protagonista del desarrollo automotriz en el mundo.
                           
                        </p>
                        
                  </article>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  imagen-trezor">
                  <figure class=" h-100">
                    <img class="img-fluid" src="./img/renault-trezor-concept.webp" alt="trezor">
                  </figure>
                </div>
                </div>
                

              </div>
            </div>
          </div>
      </section>

      <section class="titulo  my-5">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <article class="my-4">
                <p class="fs-4">Renault lanzo su:</p>
                <h3 class="text-uppercase bold mt-1">promesa cliente</h3>
                <p class="mb-0  fs-4">Como resultado de un proceso de mejora de la relación con sus clientes, Renault Argentina lanza su plan Promesa Cliente. </p>
              </article>
            </div>
          </div>
        </div>
      </section>
      <div class="container overflow-hidden my-5 ">
            <div class="row justify-content-center ">
              <div class="col-10">
                <div class="row ">
                  <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  ">
                  <article class="compania">
                    <h3 class="bold">Los siete compromisos</h3>
                    <p class="mt-4">Se trata de 7 compromisos que asume la compañía y su Red de Concesionarios que muestran el nivel de excelencia alcanzado en los últimos años y garantizan los más altos estándares de calidad en cuanto a productos y servicios en todo el país.
                        <br>
                        Argentina es el primer país de América en el que se lanza este plan que es parte de un proyecto global que Renault despliega en todos los sitios del mundo donde tiene presencia.
                            <br>
                           Más de 1700 colaboradores, distribuidos en los más de 200 puntos de contacto con el cliente de toda la Red Renault, serán las responsables de garantizar el cumplimiento del nuevo plan en todo el territorio. 
                            <br>
                            Atender cada vez mejor a sus clientes, tener en cuenta sus expectativas, cumplirlas y superarlas, son los grandes objetivos que se traducen en los 7 compromisos del nuevo plan Promesa Cliente. Se trata de los siguientes puntos concretos, simples, y fácilmente verificables, que los clientes tendrán el derecho a exigir y que Renault da a conocer como garantía de su cumplimiento: 
                        </p>
                        <ul>
                            <li>Responder a sus consultas efectuadas vía Internet en menos de un día hábil. </li>
                            <li>Proponer un test drive de un vehículo de nuestra flota de demostración.</li>
                            <li>Restituir su vehículo, luego de una intervención de servicio, a la hora y al precio convenidos. </li>
                            <li>Bonificar íntegramente toda intervención de servicio efectuada sin su aprobación. </li>
                            <li>Garantizar por 12 meses toda intervención realizada a su cargo en nuestros puntos de servicio (repuestos y mano de obra incluidos). </li>
                            <li>Recompensar su fidelidad haciéndole gozar de ventajas privilegiadas en "Mi Renault"</li>
                            <li>Garantizar un precio de servicio de mantenimiento competitivo y homogéneo en todo el país.</li>
                        </ul>
                        
                  </article>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12  imagen-trezor">
                  <figure class=" h-100">
                    <img class="img-fluid" src="./img/renault-trezor-concept.webp" alt="trezor">
                  </figure>
                </div>
                </div>
                

              </div>
            </div>
          </div>
</main>