
<main>
    
     <section id="grupo-renault " class="h-25 d-flex align-items-center grupo">
        <div class="container ">
          <div class="row text-center ">
            <div class="col">
            <h3 class="text-white text-uppercase">
             el grupo renault
            </h3>
            <p class="text-white mt-4 fs-4">un grupo, una alianza, muchas asociaciones</p>
            </div>
          </div>
        </div>
      </section>

      <section class="autos mt-4">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-10">
                <div class="row p-0">
                  <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 ps-0 ">
                  <article class="compania">
                    <h3 class="mt-2">Compañia  internacional</h3>
                    <p class="mt-4">El grupo Renault es una empresa internacional, de origen francés, con una historia de
                    más de 115 años. Presente en 128 países, diseñamos, fabricamos y comercializamos
                    vehículos particulares y utilitarios vendidos bajo tres marcas: Renault, Dacia y RSM.</p>
                    <p class="mt-4">
                      Gracias a nuestra alianza única con Nissan y a nuestras asociaciones estratégicas, 
                      somos el cuarto mayor fabricante automotriz a nivel mundial. Actualmente, más de 120.000 
                      colaboradores trabajan con nosotros en todo el mundo, y todos cuentan con la misma pasión: los autos.
                    </p>
                  </article>
                </div>
                <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12 pe-0 imagen-trezor">
                  <figure class="m-0 h-100">
                    <img class="img-fluid" src="./img/renault-trezor-concept.webp" alt="trezor">
                  </figure>
                </div>
                </div>
                

              </div>
            </div>
          </div>
      </section>

      <section class="titulo my-5">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <article>
                <p class="mb-0 fs-5">Nuestra gente, nuestra marca</p>
                <h3 class="text-uppercase bold mt-1">los autos, nuestra pasion</h3>
              </article>
            </div>
          </div>
        </div>
      </section>
</main>

<aside>
  <section class="publicidad">
    <div class="container">
    <div class="row ">
      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card border-0  ">
  <img src="../img/renault-1.webp" class="img-fluid" alt="renault-1">
  <div class="card-body">
    <p class="card-title Component5v0__title text-uppercase bold">nuestro grupo</p>
    
    <p class="card-text">Descubrí el sitio web oficial internacional del Grupo Renault.</p>
    <a href="" class="bold text-decoration-none text-dark">Ver el sitio web del grupo  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
    
  </div>
</div>
      </div>

      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card border-0">
  <img src="../img/renault-2.webp" class="img-fluid" alt="renault-2">
  <div class="card-body">
    <p class="card-title Component5v0__title text-uppercase bold">nuestro espacio para analistas e inversionistas</p>
    <p class="card-text">Encontra estos documentos relativos a los resultados financieros.</p>
    <a href="" class="bold text-decoration-none text-dark">Visita el espacio para analistas e inversioonestas  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
   
  </div>
</div>
      </div>
    </div>
  </div>

  <!-- 
    ###############################
    CONTAINER 2
    ################################
  -->

  <div class="container">
    <div class="row ">
      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card border-0  ">
  <img src="../img/img-historia.webp" class="img-fluid" alt="renault-historia">
  <div class="card-body">
    <p class="card-title Component5v0__title text-uppercase bold">nuestra historia</p>
    
    <p class="card-text">Descubrí la historia de nuestro grupo, desde 1898 hasta hoy.</p>
    <a href="" class="bold text-decoration-none text-dark">Nuestra historia <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
    
  </div>
</div>
      </div>

      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card border-0">
  <img src="../img/img-ambiente.webp" class="img-fluid" alt="renault-ambiente">
  <div class="card-body">
    <p class="card-title Component5v0__title text-uppercase bold">cuidado del medio ambiente</p>
    <p class="card-text">Hicimos compromisos reales.</p>
    <a href="" class="bold text-decoration-none text-dark">Nuestros compromisos <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
   
  </div>
</div>
      </div>
    </div>
  </div>
  </section>

  <section class="nosotros">
    <section class="titulo my-5">
        <div class="container">
          <div class="row text-center">
            <div class="col">
              <article>
                <p class="mb-0 fs-6">Conocenos mejor</p>
                <h3 class="text-uppercase bold mt-1">Mas sobre el grupo renault</h3>
              </article>
            </div>
          </div>
        </div>
      </section>

      <div class="container">
    <div class="row ">
      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card border-0  ">
  <img src="../img/img-conocenos.webp" class="img-fluid" alt="conocenos">
  <div class="card-body px-0">    
    <p class="card-text fs-5">El objetivo de nuestro grupo es diseñar y fabricar vehiculos atractivos y fiables y estar cada vez mas cerca de las necesidades de nuestros clientes.</p>
     <p class="card-title bold fs-4">Calidad</p>
    <a href="" class="bold text-decoration-none text-dark fs-5">La calidad Renault <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
    
  </div>
</div>
      </div>

      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card border-0">
  <img src="../img/img-santa-isabel.webp" class="img-fluid" alt="santa-isabel">
  <div class="card-body px-0">
        <p class="card-text fs-5">La Fábrica Santa Isabel está ubicada a 10 Km. al sudoeste del centro de la ciudad de Córdoba, sobre Avenida Renault 2520, en barrio Santa Isabel 1era sección.</p>
    <p class="card-title text-capitalize fs-4 bold">historia fabrica santa isabel</p>
    <a href="" class="bold text-decoration-none text-dark fs-5 ">Conoce mas <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="yellow" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
</svg></a>
   
  </div>
</div>
      </div>
    </div>
  </div>
  </section>
  
</aside>
